
body {
    
    background-image: url(./assets/images/princess.jpg)
}

img {
    width: 125px;
    height: 125px;
}

#gify-buttons {
    margin: 0px;
    padding: 15px;
    text-align: center;
}

#gifies {
    float: left;
}